

.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --accent-bg-color: #353430;
  --accent-title-color: #ffc2e6;
  --title-color: #353430;
  --text-color: #353430;
  --menu-color: #353430;
  --decorative-bracket-color: #353430;
  --rec-decoration-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --accent-bg-color: #353430;
  --accent-title-color: #ffc2e6;
  --title-color: #353430;
  --text-color: #353430;
  --menu-color: #353430;
  --button-hover-color: #32312d66;
  --decorative-bracket-color: #353430;
  --rec-decoration-color: transparent;
  }
}
